
header {
    text-align: center;
    background-color: #A41034;
    color: white;
}

.form input[type="text"] {
    width: 80%; /* Adjust the width as needed */
    padding: 10px; /* Optional: Add padding for better appearance */
    box-sizing: border-box; /* Optional: Include padding and border in the element's total width and height */
  }

.form2 input[type="text"] {
width: 80%; /* Adjust the width as needed */
padding: 10px; /* Optional: Add padding for better appearance */
box-sizing: border-box; /* Optional: Include padding and border in the element's total width and height */
}
  
button {
    padding: 10px;
    /* Add any additional styling for the button if needed */
  }

ul {
    list-style-type: none;
}